<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Account Confirmation</title>
</head>
<body>
    <p>Hello {{ user.username }}!</p>

    <p>You're receiving this email because you have registered an account on {{ site_name }}.</p>

    <p>To confirm your email address and activate your account, please click the link below:</p>
    <p><a href="{{ activation_link }}">Confirm your email address</a></p>

    <p>Thank you for using {{ site_name }}!</p>

    <p>Best regards,<br>
    The {{ site_name }} Team</p>
</body>
</html>
